# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.leetcode-solutions.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\hello\RiderProjects\leetcode-solutions\.idea\.idea.leetcode-solutions.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
